<a href="https://colab.research.google.com/github/kabirulislam95/AI/blob/main/Assignment03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 1. Loading the dataset

In [ ]:
# Imports section
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
# Using pandas load the dataset (load remotely, not locally)
url = "https://raw.githubusercontent.com/profmcnich/example_notebook/main/science_data_large.csv"
# Output the first 15 rows of the data
#  path to URL from Chrome DevTools Console
#  read remote URL data to DataFrame
df = pd.read_csv(url)
df.head(15)

    Temperature °C  Mols KCL     Size nm^3
0              469       647  6.244743e+05
1              403       694  5.779610e+05
2              302       975  6.196847e+05
3              779       916  1.460449e+06
4              901        18  4.325726e+04
5              545       637  7.124634e+05
6              660       519  7.006960e+05
7              143       869  2.718260e+05
8               89       461  8.919803e+04
9              294       776  4.770210e+05
10             991       117  2.441771e+05
11             307       781  5.006455e+05
12             206        70  3.145200e+04
13             437       599  5.390215e+05
14             566        75  9.185271e+04

In [ ]:
# Display a summary of the table information (number of datapoints, etc.)
df.describe()

       Temperature °C     Mols KCL     Size nm^3
count     1000.000000  1000.000000  1.000000e+03
mean       500.500000   471.530000  5.086111e+05
std        288.819436   288.482872  4.474838e+05
min          1.000000     1.000000  1.611429e+01
25%        250.750000   226.750000  1.298267e+05
50%        500.500000   459.500000  3.827182e+05
75%        750.250000   710.250000  7.603211e+05
max       1000.000000  1000.000000  1.972127e+06

In [ ]:
#taking features as X (these are the inputs)
X= df.drop('Size nm^3',axis=1)

#taking level as y (this is the output )
y = df['Size nm^3']

In [ ]:
#display features colums
X

     Temperature °C  Mols KCL
0               469       647
1               403       694
2               302       975
3               779       916
4               901        18
..              ...       ...
995             894       847
996             327       982
997             791       213
998             769       553
999             919       452

[1000 rows x 2 columns]

In [ ]:
#Display level column
y

0      6.244743e+05
1      5.779610e+05
2      6.196847e+05
3      1.460449e+06
4      4.325726e+04
           ...
995    1.545661e+06
996    6.737041e+05
997    3.477543e+05
998    8.684794e+05
999    8.476413e+05
Name: Size nm^3, Length: 1000, dtype: float64

## Part 2. Splitting the dataset

In [ ]:
# Take the pandas dataset and split it into our features (X) and label (y)
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.1)
# Use sklearn to split the features and labels into a training/test set. (90% train, 10% test)

## Part 3. Perform a Linear Regression

In [ ]:

# Use sklearn to train a model on the training set

#create a linear Regression Model object
reg = linear_model.LinearRegression()

#fit the model
reg.fit(X.values, y.values)
# Create a sample datapoint and predict the output of that sample with the trained model
sample_x = [[604, 567]];

#predict the sample datapoint
reg.predict(sample_x)

array([697754.15747242])

In [ ]:
# Report on the score for that model, in your own words (markdown, not code) explain what the score means
# Extract the coefficents and intercept from the model and write an equation for your h(x) using LaTeX

For a linear equation in terms of a single variable is 
	
$h(x) = mx + b$                    $[m = slop, b = y_{intercept}]$

In machine learning, we use the term, m = coefficient, and b = intercept. When we want to fit our model with a single variable, we use this equation.
For the multivariable, we use the same concept to get the value, and we use the equation as follows:

$y = b_0 + m_1x_1 + m_2x_2+……..+m_nx_n$

= $ y_{intercept} $ + $(var_1 × var_{coefficient(1)} ×  var_2 × var_{coefficient(2)} × …… × var_n × var_{coefficient(n)}) $

In our case, we have the coefficient of two input variables, Temperature and Mol are
$863.581 & 1006.127$ respectively.

And we have the intercept, $ y_{intercept} $=  $-400305.9133$

So, if we take any value of the two input variables. We can find out the predicted value.
In our program, we chose the sample data point as $[[345, 765]]$, that means
Temperature = $345$ degree celsius, and Mols = $765$ KCL

Now, we can calculate the predicted value:
$y = (345 × 863.581... + 765

In [ ]:
reg.coef_

array([ 875.90992708, 1031.59502452])

In [ ]:
reg.intercept_

-416209.81738620513

In [ ]:
reg.score(x_test.values, y_test.values)

0.8845483593035449

Sample equation: $E = mc^2$

## Part 4. Use Cross Validation

In [ ]:
# Use the cross_val_score function to repeat your experiment across many shuffles of the data

lasso = linear_model.Lasso()
cross_val_score(lasso, x, y, cv=10)
# Report on their finding and their significance

array([0.81123596, 0.86440978, 0.87808742, 0.86561069, 0.87495621,
       0.84484397, 0.87941021, 0.86349411, 0.78353682, 0.88686516])

## Part 5. Using Polynomial Regression

In [ ]:
# Using the PolynomialFeatures library perform another regression on an augmented dataset of degree 2

poly_reg = PolynomialFeatures(degree=2)
X_poly = poly_reg.fit_transform(x)
pol_reg = LinearRegression()
pol_reg.fit(X_poly, y)
# Report on the metrics and output the resultant equation as you did in Part 3.

LinearRegression()

In [ ]:
pol_reg.predict(poly_reg.fit_transform([[604, 567]]))

array([701369.39999187])

In [ ]:
pol_reg.coef_

array([ 0.00000000e+00,  1.20000000e+01, -1.23110504e-07, -1.05648823e-11,
        2.00000000e+00,  2.85714287e-02])

In [ ]:
pol_reg.intercept_

1.657189568504691e-05